/AdministradorFerreteria/build/
/AdministradorFerreteria/dist/
AdministradorFerreteria/nbproject/private/private.xml
AdministradorFerreteria/src/ferreteria/model/DAO/configuracion.properties
AdministradorFerreteria/nbproject/private/private.properties
*.properties
